:root{
//     --PrimaryColor: hsl(26,93%,50%);
//     --HoverColor: hsl(26,90%,42%);
    --whiteColor: hsl(0,0%,100%);
//     --blackColor: hsl(0,0%,18%);
//     --textColor: hsl(240,1%,48%);
//     --whiteColorDeam: hsl(0,0%,93%);
//     --greyBg :hsl(0,0%,96%);
//     --greyText:rgb(190,190,190);
//     --inputColor:hsl(330,12%,97%);
     --azulColor: rgb(24, 191, 220);
     --boxshadowOne: rgb(24, 191, 220) 0px 7px 29px 0px;
     --boxShadowTwo:rgb(24, 191, 220) ;
    --colorNose: hsl(24, 191, 220);
 }

body{
.btnEncuentas {
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: var(--whiteColor);
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
    .btnEncuentas:hover {
      letter-spacing: 4px;
      background-color: var(--azulColor);
      color: var(--whiteColor);
      box-shadow: var(--boxshadowOne)
    }
    
    .btnEncuentas:active {
      letter-spacing: 3px;
      background-color:var(--colorNose);
      color: var(--whiteColor);
      box-shadow: var(--boxShadowTwo) 0px 0px 0px 0px;
      transform: translateY(10px);
      transition: 100ms;
    }
  }
  
}